.card {
    max-width: 350px;
    background-color: blueviolet;
    border-radius: 25px;
    padding: 30px;
    font-family: 'Poppins', sans-serif;

    &__item {
        padding: 10px;
    }

    &__plan {
        font-size: 22px;
    }

    &__price {
        font-weight: 600;
        
    }

}

:host ::ng-deep .mdc-slider__track--active_fill {
    border-color: rgb(34, 255, 0) !important;
}